/* General Slider spacing in responsive */
@media screen and (max-width: 1350px) {
	.block-gallery {
		padding: 0 10px;
	}
	
	.block-gallery.single-column {
		padding: 0;
	}
}

/* Custom color for arrow icons */
.slick-prev:before,
.slick-next:before {
	color: #000;
}

/* Breathing space for views-row */
.multi-column .views-row {
	padding: 0 10px;
}

/* Hide description text if view has this class .desc-hide */
.desc-hide .views-field-body {
	display: none;
}

/* content-display will show the contents below the single column image, & its title design */
.content-display .views-field-field-title {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0 5px;
}

/* content-display-overlay show the contents over the banner image */
.content-display-overlay .single-column-banner {
	position: relative;
}

.content-display-overlay .single-column-banner-overlay {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 475px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: rgb(0 0 0 / 27%);
}

.content-display-overlay .single-column-banner-overlay .views-field-field-title {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
}

.content-display-overlay .single-column-banner-overlay .views-field-field-body {
	color: #fff;
	font-size: 18px;
	padding: 0 20px;
}

@media screen and (max-width: 1199px) {
	.content-display-overlay .single-column-banner-overlay {
		left: 30%;
	}
}

@media screen and (max-width: 991px) {
	.content-display-overlay .single-column-banner-overlay {
		left: 38%;
	}
}

@media screen and (max-width: 767px) {
	.content-display-overlay .single-column-banner-overlay {
		width: 300px;
	}

	.content-display-overlay .single-column-banner-overlay .views-field-field-title {
		font-size: 22px;
	}

	.content-display-overlay .single-column-banner-overlay .views-field-field-body {
		font-size: 14px;
	}
}

@media screen and (max-width: 567px) {
	.content-display-overlay .single-column-banner-overlay {
		width: auto;
		left: 25px;
		transform: translate(0, -50%);
	}
	.content-display-overlay .single-column-banner-overlay .views-field-field-title {
		font-size: 16px;
		padding: 10px 20px 0;
	}

	.content-display-overlay .single-column-banner-overlay .views-field-field-body {
		font-size: 12px;
	}
}

/* Single column slider without content */
.single-column .views-field.views-field-field-image img {
	width: 100%;
}

.single-column .slick-prev, .single-column .slick-next {
    z-index: 1111;
}

.single-column .slick-prev {
    left: 0;
}

.single-column .slick-next {
    right: 0;
}

/* Style for multi colummn & thumbnail slider description text */
.multi-column .views-field-body,
.thumbnail-slider-top>.view-content .views-field-body {
	background: #e5e5e5;
	text-align: center;
}

.multi-column .views-field-body p,
.thumbnail-slider-top>.view-content .views-field-body p {
	padding: 5px;
	font-size: 16px;
}

/* Two column image full width */
.two-column .views-row .views-field-field-image img {
  width: 100%;
}

/* Thumbnail slider style */
.thumbnail-slider-top>.view-footer .thumbnail-slider-bottom>.view-content .slick-current img {
	border: 2px solid #000;
}

.thumbnail-slider-top>.view-footer .thumbnail-slider-bottom>.view-content .views-row {
	padding: 0 5px;
}

.thumbnail-slider-top>.view-footer .thumbnail-slider-bottom>.view-content .views-row img{
	cursor: pointer;
}